<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: #060505; color: #747474">
    <div class="container">
      <div class="logout">
        <a
          href="/logout"
          style="
            background-color: rgb(160, 7, 7);
            text-decoration: none;
            color: white;
            padding: 4px;
            border-radius: 5px;
          "
          >Logout</a
        >
      </div>
      <div class="user">
        <h2>Hello, <%=user.name%> 🦇🦇</h2>
      </div>
      <form action="/post" method="post">
        <textarea
          name="content"
          placeholder="Write something here"
          style="resize: none"
        ></textarea>
        <input type="submit" value="Create Post" style="display: block" />
      </form>
      <div class="post" style="margin-top: 10vh">
        <div class="YourPost"><h4 style="color: #373737">Your Post</h4></div>
        <% user.posts.reverse().forEach(function(post){%>
        <div
          class="content"
          style="
            border: 1px solid white;
            width: 40vh;
            padding: 1.5vh 5vh;
            margin-bottom: 4vh;
          "
        >
          <h4 style="color: #393838"><%=user.username%></h4>
          <p style="color: blue"><%=post.content %></p>

          <div class="likes"><p><%=post.likes.length%></p></div>
          <div class="button" style="display: flex; gap: 10px">
            <a
              href="/Like/<%=post._id%>"
              style="
                text-decoration: none;
                background-color: #34073d;
                padding: 5px;
                border: 3px;
              "
              ><%=post.likes.indexOf(user._id) === -1 ? "Like" : "UnLike"%></a
            >
            <a
              href="/Edit/<%=post._id %>"
              style="
                text-decoration: none;
                background-color: red;
                padding: 5px;
                border: 3px;
              "
              >Edit</a
            >
          </div>
        </div>

        <% })%>
      </div>
    </div>
  </body>
</html>
